*{
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
}
img{
    width: 400px;
    border: 1px solid white;
    border-radius: 20px;
}
h1{
    padding-left: 75px;
}
table{
    padding-left: 40px;
}
td{
    width: 140px;
}
body{
    background-color: black;
}
