* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#B31312, #2B2A4C);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contenedor {
    background: linear-gradient(#EEE2DE, #EA906C);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    box-shadow: 0 0 10px black;
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
}

#imagen {
    background: url(../images/ManuelMartinez.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    box-shadow: 0 0 5px black;
    width: 25%;
    height: 60%;
    margin: auto;
    position: relative;
}
#imagen_uatf {
    background: url(https://www.uatf.edu.bo/assets/images/uatf.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 100;
    bottom: -10px;
    right: -10px;
}

#descripcion {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#cabeza {
    margin: 1em;
}
#cabeza h1 {
    margin: .5em;
    text-align: center;
}

#titulo_info {
    text-align: center;
    margin: 1em;
}

#cuerpo {
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: auto;
}
#preguntas {
    
}
#preguntas p {
    padding-left: 10px;
    margin-bottom: 1em;
    border-bottom: 1px solid black;
    border-radius: 0 0 0 5px;
}
#respuestas {
    
}
#respuestas p {
    margin-bottom: 1em;
    padding-left: 10px;
    border-bottom: 1px solid black;
    border-radius: 0 0 5px 0;
}