*{
    font-family: cursive;
    text-align: center;
}
li{
    list-style: none;
}
table{
    width: 100%;
    border-collapse: collapse;
}
td,th{
    border: 1px solid #dddddd;
    text-align: left;
}
