.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.body {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.errorLabel {
    font-size: 12px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

p {
    margin-top: 10px;
}